<mat-card>
  <mat-form-field>
    <mat-label>
      Search by name, email or role....
    </mat-label>
    <input type="search" [(ngModel)]="searchdata" matInput (keyup)="filterData($event)"
      placeholder=" Search by name, email or role....">

    <button *ngIf="searchdata" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearData()">
      <mat-icon>
        close
      </mat-icon>
    </button>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="downloadPdf()">Download Pdf</button>
  </div>
</mat-card>

<mat-card>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>


    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element">
        <span>
          <mat-icon svgIcon="edit" (click)="editRowData(element)"></mat-icon>
        </span>
        <span>
          <mat-icon svgIcon="delete" (click)="deleteRowData(element,template)"></mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6"> No Data Matched</td>
    </tr>
  </table>
  <mat-divider> </mat-divider>
  <section>
    <button mat-raised-button color="primary" (click)="deleteSelectedRow()">Delete Selected</button>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </section>

</mat-card>

<!-- Delete Template -->
<ng-template #template>
  <header>
    <span>Are you sure you want to Delete?</span>
  </header>
  <mat-divider></mat-divider>
  <footer>
    <button type="button" mat-raised-button color="primary" (click)="hide()"><span>Cancel</span></button>
    <button type="reset" mat-raised-button color="warn" (click)="deleteData()"><span>Delete</span></button>
  </footer>
</ng-template>


<!-- Alert Template -->
<ng-template #alerttemplate>
  <header>
    <span>Please select at least one Row</span>
  </header>
  <mat-divider></mat-divider>
  <footer>
    <button type="button" mat-raised-button color="primary" (click)="hide()"><span>Cancel</span></button>

  </footer>
</ng-template>


<!-- Dynamic Template in Angular-->
<ng-template #dynamicContent>
  <header class="modal-header">
    <h6><span>Delete Selected Item</span></h6>
  </header>
  <mat-divider></mat-divider>
  <footer>
    <button type="button" mat-raised-button color="primary" (click)="hide()"><span>Cancel</span></button>
  </footer>
</ng-template>
