<Header>
  <h3>
    <span>Edit Table Row</span>
  </h3>

</Header>
<mat-divider></mat-divider>
<main>
  <ul>
    <li>
      <span>Id</span>
      <span>{{data?.id}}</span>
    </li>
    <li>
      <span>Name</span>
      <span>{{data?.name}}</span>
    </li>
    <li>
      <span>Email</span>
      <span>{{data?.email}}</span>
    </li>
    <li>
      <span>Role</span>
      <span>{{data?.role}}</span>
    </li>
  </ul>
</main>

<mat-divider></mat-divider>

<footer>
  <button type="button" mat-raised-button color="primary" (click)="cancel()"><span>Cancel</span></button>
  <button type="reset" mat-raised-button color="warn" (click)="edit()"><span>Edit</span></button>
</footer>
